[package]
name = "metaboss"
version = "0.20.0"
edition = "2021"
description="The Metaplex NFT-standard Swiss Army Knife tool."
repository="https://github.com/samuelvanderwaal/metaboss"
license = "Apache-2.0"

[dependencies]
anyhow = "1.0.65"
async-trait = "0.1.57"
base64 = "0.13.0"
borsh = "0.9.3"
bs58 = "0.4.0"
console = "0.15.2"
dialoguer = "0.10.2"
env_logger = "0.9.1"
futures = "0.3.24"
glob = "0.3.0"
indexmap = { version = "1.9.1", features = ["serde"] }
indicatif = { version = "0.16.2", features = ["rayon"] }
lazy_static = "1.4.0"
log = "0.4.17"
metaboss_lib = "0.5.1"
mpl-token-metadata = { version = "1.9.0", features = [ "no-entrypoint", "serde-feature"] }
num_cpus = "1.13.1"
phf = { version = "0.10", features = ["macros"] }
ratelimit = "0.4.4"
rayon = "1.5.3"
reqwest = { version = "0.11.12", features = ["json"] }
retry = "1.3.1"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.85"
serde_with = "2.2.0"
serde_yaml = "0.8.26"
shellexpand = "2.1.2"
solana-client = "1.14"
solana-account-decoder = "1.14"
solana-logger = "1.14"
solana-program = "1.14"
solana-sdk = "1.14"
spl-associated-token-account = "1.1.1"
spl-token = "3.5.0"
structopt = "0.3.26"
thiserror = "1.0.37"
tokio = "1.14"

[features]

[dev-dependencies]
assert_cmd = "2.0.4"
